* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1166px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
}

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 90px;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: #111;
    display: flex;
    align-items: center;
}

.headre-logo-image {
    width="24" 
    height="24" 
    fill="white"
}

.header-logo-cursive {
    font-style: italic;
}

.header-menu-list {
    display: flex;
    gap: 24px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #111;
}

.header-contact-list {
    display: flex;
    gap: 14px;
}

.home {
    padding-bottom: 80px;
}
    

.hero {
    padding: 380px 40px 40px 40px;
    background: rgba(17, 17, 17, 0.6);
    border-radius: 30px;
}

.home-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: 32px;
    max-width: 484px;
}

.home-buttons-container {
    display: flex;
    align-items: center;
}

.home-buy-button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 100px;
    background-color: #fd9222;
    border: none;
    padding: 14px 40px;
    margin-right: 14px;
}

.home-made-button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    padding: 14px 40px;
    border: 1px solid;
    border-color: #fff;
    border-radius: 100px;
    background: transparent;
}

.home-scroll-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
    margin-left: auto;
}

.features {
    background: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.features-list {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
}

.features-list-item {
    width: calc((100% - 2 * 88px) / 3);
}

.features-list-item-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 18px;
}

.features-list-item-paragraph {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.taste {
    padding-top: 120px;
    padding-bottom: 120px;
}

.taste-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.taste-title span {
    color: #fd9222;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}

.taste-list-item {
    background: #fd9222;
    border-radius: 15px;
    width: calc((100% - 3 * 32px) / 4);
}

.test-list-item-image {
    padding: 28px 23px;
    margin-bottom: 36px;
}

.taste-list-item-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #111;
    padding-left: 28px;
}

.made {

}

.made-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;  
    padding-bottom: 50px; 
}

.made-title span {
    color: #fd9222;
}

.made-container {
    display: flex;
    gap: 20px;
}

.made-text-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
}

.made-image {}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111;
    padding-bottom: 28px;
    padding-left: 32px;
}

.made-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.made-list-item {}

.made-list-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
}

.products {}

.products-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    padding-top: 120px;
    padding-bottom: 50px;
}

.products-title span {
    color: #fd9222;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
    width: calc((100% - 3 * 24) / 4);
    justify-content: center;
}

.products-list-item {}

.proucts-litst-item-image {
    padding: 32px 20px 4px;
    margin-bottom: 4px;
}

.products-list-item-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

.products-list-item-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
    margin-bottom: 18px;
}

.product-list-item-button {
    font-weight: 600;
    font-size: 14px;
    color: #111;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
    margin: 0 auto;
    display: block;
}

.sellers {}

.sellers-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    padding-top: 120px;
    padding-bottom: 50px;
}

.sellers-title span {
    color: #fd9222;
}

.sellers-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
}

.sellers-list-item {
    width: calc((100% - 2 * 16) / 3);
    height: 544px;
}

.sellers-list-item-image {

}

.sellers-list-item-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
}

.reviewes {}

.reviewes-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    padding-top: 120px;
    padding-bottom: 50px;
}

.reviewes-title span {
    color: #fd9222;
}

.reviewes-list {
    display: flex;
    gap: 28px;
    justify-content: center;
}

.reviewes-list-item {
    width: calc((100% - 2 * 28) / 3);
}

.reviewes-list-item-image {
    margin: 0 auto;
}

.reviewes-list-item-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
}

.reviewes-list-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    padding-bottom: 50px;
}

.reviewes-button {
    font-weight: 600;
    font-size: 18px;
    color: #111;
    margin: 0 auto;
    padding: 14px 40px;
    border: 1px solid;
    border-radius: 100px;
    border-color: #fd9222;
    background-color: transparent;
    display: block;
    margin-bottom: 120px;
}

.footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 86px;
}

.footer-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #fff;
}

.footer-text span {
    color: #fd9222;
}

.footer-networks {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fff;
}

.footer-networks-list {}

.footer-networks-list-item {}

.footer-networks-list-item-link {}

.footer-networks-list-item-image {}

.footer-title-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
}

.footer-contacts {}

.footer-contacts-list {}

.footer-contacts-list-item {

}

.footer-contacts-list-item-link {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    font-style: normal;
    color: #fff;
}

.footer-nav {}

.footer-nav-list {}

.footer-nav-list-item {}

.footer-nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.header-menu-link:hover {
    color: #1e1823;
}

.footer-contacts-list-item-link:hover {
    color: #fd9222;
}

.footer-nav-list-link:hover {
    color: #fd9222;
}